<table class="table table-bordered" id="product-table">
    <thead>
        <tr>
            <td class="image-column"><!--Pictures--></td>
            <td class="product-column"><span>Product</span></td>
            <td class="rating-column"><span>Rating</span></td>
            <td class="price-column"><span>Price</span></td>
        </tr>
    </thead>
    <tbody>
        @if(@Model["products"].Count != 0)
        {
            @foreach(var product in @Model["products"])
            {
                <tr>
                    <td class="image-column">
                        <img src="/@product.GetPictures()[0].GetPictureKey()" width=200px alt="@product.GetName()">
                    </td>
                    <td class="product-column">
                        <h4><a href="/product/@product.GetId()">@product.GetName()</a></h4>
                        <p>@product.GetDescription()</p>
                    </td>
                    <td class="rating-column">
                        <div class="star-container">
                            <input type="hidden" class="rating-value" value="@product.GetRating()">
                            <fieldset class="rating">
                                <input type="radio" id="star5" name="rating" value="5" checked="checked"/><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                                <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                            </fieldset>
                        </div>

                        <p><a href="#">See Reviews</a></p>
                    </td>
                    <td class="price-column"><h3>$@product.GetPrice()</h3></td>
                </tr>
            }
        }
    </tbody>
</table>
