@{
    Layout="Shared/_Layout.cshtml";
}
<!-- hide this if the user is logged in -->
@* <h2><a href="/sign_up">Create an account</a></h2>
<h2><a href="/log_in">Log in to your account</a></h2> *@


<!-- Main page here -->
<div class="col-md-3">
    <ul class="list-group">
        <div id="category-header">
            <span>Categories</span>
        </div>
        <div class="list-group" id="categories">
            @if(@Model["categories"].Count != 0)
            {
                @foreach(var category in @Model["categories"])
                {
                    <a href="#" class="list-group-item">@category.GetName()</a>
                }
            }
        </div>
    </div>

    <div class="col-md-9">
        <table class="table table-bordered" id="product-table">
            <thead>
                <tr>
                    <td class="image-column"><!--Pictures--></td>
                    <td class="product-column"><span>Product</span></td>
                    <td class="rating-column"><span>Rating</span></td>
                    <td class="price-column"><span>Price</span></td>
                </tr>
            </thead>
            <tbody>
                @if(@Model["products"].Count != 0)
                {
                    @foreach(var product in @Model["products"])
                    {
                        <td class="image-column">
                            <div class="background-cover-image">
                                <img src="@product.GetPictures()[0].GetPictureKey()" alt="@product.GetName()">
                            </div>
                        </td>
                        <td class="product-column">
                            <h4><a href="/product/@product.GetId()">@product.GetName()</a></h4>
                            <p>@product.GetDescription()</p>
                        </td>
                        <td class="rating-column">
                            <fieldset class="rating">
                                <input type="radio" id="star5" name="rating" value="5" checked="checked"/><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                <input type="radio" id="star4half" name="rating" value="4 and a half"/><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                                <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                            </fieldset>
                            <p><a href="#">See Reviews</a></p>
                        </td>
                        <td class="price-column"><h3>$@product.GetPrice()</h3></td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>

<h1>All Products</h1>
