@{
    Layout="Shared/_Layout.cshtml";
}
<!-- hide this if the user is logged in -->
@* <h2><a href="/sign_up">Create an account</a></h2>
<h2><a href="/log_in">Log in to your account</a></h2> *@


<!-- Main page here -->
<div class="col-md-3">
    @Html.Partial("/Shared/Categories.cshtml", Model)
</div>

<div class="col-md-9 main-content">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="@Model["product"].GetCategories()[0].GetId()">@Model["product"].GetCategories()[0].GetName()</a></li>
        <li class="breadcrumb-item active">@Model["product"].GetName()</li>
    </ol>

    <div class="row">
        <div class="col-md-7 picture-box">
            <div class="row">
                <div class="background-cover-image picture-box">
                    @if(Model["product"].GetPictures().Count != 0)
                    {
                        <img class="picture-box" src="@Model["product"].GetPictures()[0].GetPictureKey()" alt="@Model["product"].GetName()">
                    }
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <h2>@Model["product"].GetName()</h2>
            <div class="row rating-container">
                <div class="col-xs-6 review-count">
                    @Html.Partial("/Shared/rating_stars.cshtml", Model)
                </div>
                <div class="col-xs-6 review-count">
                    <a href="#">@Model["product"].GetProductReview().Count Reviews</a>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4">
                    <span class="price">$@Model["product"].GetPrice()</span>
                </div>
                <form class="" action="index.html" method="post">

                </form>
                <div class="col-xs-4">

                </div>
            </div>
            <p>@Model["product"].GetDescription()</p>
        </div>
    </div>

    <h1>@Model["product"].GetName()</h1>
    <h2>Price: $@Model["product"].GetPrice()</h2>
    <h2>Description: @Model["product"].GetDescription()</h2>

    <h2>Categories: </h2>
    @if(@Model["product"].GetCategories().Count == 0)
    {
        <h3>There are no categories.</h3>
    }
    else
    {
        @foreach(var category in @Model["product"].GetCategories())
        {
            <h3>@category.GetName()</h3>
        }
    }

    <h2>Reviews: </h2>
    @if (@Model["product"].GetProductReview().Count == 0)
    {
        <h3>There are no reviews for this product</h3>
    }
    else
    {
        @foreach(var review in @Model["product"].GetProductReview())
        {
            <h2>@review.GetReviewText()</h2>
        }
    }

    <h2>Rating: @Model["product"].GetRating()</h2>

    <p><a href="/">Return home</a></p>
    </div>
