@{
    Layout="Shared/_Layout.cshtml";
}

<div class="col-md-3">
    @Html.Partial("/Shared/Categories.cshtml", Model)
</div>

<div class="col-md-9">
    <h1 class="signin_header">Thank you for your purchase, @Model["user"].GetFirstName()</h1>
    <h3>Your order will be shipped to you in 3-5 business days</h3>

    <h3>Shipping address and contact information</h3>

    <div class="row">
        <div class="col-md-4">
            <h4><strong>First Name:</strong> @Model["user"].GetFirstName()</h4>
            <h4><strong>Last Name:</strong> @Model["user"].GetLastName()</h4>
            <h4><strong>Phone number:</strong> @Model["mainProfile"].GetPhoneNumber()</h4>
        </div>
        <div class="col-md-4">
            <h4><strong>Street:</strong> @Model["mainProfile"].GetStreet()</h4>
            <h4><strong>City:</strong> @Model["mainProfile"].GetCity()</h4>
            <h4><strong>State:</strong> @Model["mainProfile"].GetState()</h4>
            <h4><strong>Zip code:</strong> @Model["mainProfile"].GetZipCode()</h4>
        </div>
    </div>
</div>
